<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styling/restaurent.css">
    <link rel="stylesheet" href="styling/styles.css">
</head>
<body>
    <aside>
        <div id="up">
            <a href="/index"><h2 id="eat">Eatwell</h2></a>
            <div id="upin">
                <a href="/restaurant">Browse Restaurants</a >
                <a href="/share">Share a restaurent</a>
                <a href="">About Eatwell</a >
            </div>
        </div>
        
    </aside>
    <main>
        <h1>Your Restaurant Has successfully Registerd</h1>
    
    </main>
</body>
</html>