<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styling/styles.css">
    <link rel="stylesheet" href="styling/form.css">
</head>
<body>
    <aside>
        <div id="up">
            <a href="/index"><h2 id="eat">Eatwell</h2></a>
            <div id="upin">
                <a href="/restaurant">Browse Restaurants</a >
                <a href="/share">Share a restaurent</a>
                <a href="">About Eatwell</a >
            </div>

        </div>
        
    </aside>
    <main>
        <div>
            <h4>Share your Favorite restaurant!</h4>
            <div id="">
                <form action="" id="formd">
                    <label for="Rname">Restaurant Name</label>
                    <input type="text" id="Rname" name="rname">
                    <label for="adr">Address</label>
                    <input type="text" id="adr" name="Adr">
                    <label for="cusine">Type of cuisine</label>
                    <input type="text" id="cusine" name="csnie" placeholder="e.g.Mexican">
                    <label for="website">Restaurt website</label>
                    <input type="text" id="website" name="web">
                    <label for="recomd">Why do you recommen it?</label>
                    
                    <textarea name="red" id="recomd" cols="30" rows="10"></textarea>
                    <button type="submit" value="Submit">Submit</button>
                </form>
            </div>
            
        </div>
    </main>
    
</body>
</html>