<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eatwell</title>
    <link rel="stylesheet" href="styling/styles.css">
</head>
<body>
    <aside>
        <div id="up">
            <a href="/"><h2 id="eat">Eatwell</h2></a>
            <div id="upin">
                <a href="/restaurant">Browse Restaurants</a >
                <a href="/share">Share a restaurent</a>
                <a href="/about">About Eatwell</a >
            </div>
        </div>
        
    </aside>
    <main id="main-body">
        <div>
            <h3>Make the world a tastier place!</h3>
            <p>Share your favorite Restaurants or find recommendations of other users!</p>
        </div>
        <div id="btns">
            <a href="">Browse Shared Restaurants</a>
            <a href="/share">Share your favorite Restaurants</a>
        </div>
        
    </main>

    
</body>
</html>