<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="styling/styles.css">
    <link rel="stylesheet" href="styling/restaurent.css">
</head>
<body>
    <aside>
        <div id="up">
            <a href="/index"><h2 id="eat">Eatwell</h2></a>
            <div id="upin">
                <a href="">Browse Restaurants</a >
                <a href="/share">Share a restaurent</a>
                <a href="">About Eatwell</a >
            </div>
        </div>
        
    </aside>
    <main>
        <h1>Recommended Restaurants</h1>
        <p>Find Your next favourate restaurents with the help of our other users!</p>
        <p>We Found X Restaurants</p>
        <div>
            <h4>Restaurant Title</h4>
            <h3>Mexicon</h3>
            <h4>Addres of the restaurent including city</h4>
            <p>A Small description on this restaurent</p>
            <a href="">View website</a>
        </div>
    </main>
    
    
</body>
</html>