main {
    margin: 60px auto;
    width: 40%;
}

main div {
    background-color: bisque;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main div h4, h3, p {
    text-align: left;
   
}

main div a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: brown;
    padding: 5px;
   
    border-radius: 5px;
    margin-top: 10px;
    width: fit-content;
    margin: 10px auto;
}
#con{
    text-align: center;
}
